.main
  .main__header
    .main__header__group
      .group-name
        = @group.name
      .member
        Member :
        - @group.users.each do |user|
          = user.name
    .main__header__edit
      =link_to edit_group_path(@group.id), class: "group-edit__btn" do 
        Edit
  .main__contents
    = render @messages
  .footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .form-box
        = f.text_field :content, class: 'form-box__text', placeholder: 'type a message'
        = f.label :image, class: 'form-box__image' do
          = icon('far', 'image', class: 'form-box__icon')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit-btn'
